<dx-button text="Click Me" (onClick)="toggle()" type="success"></dx-button>
<dx-text-box
  #textbox
  label="Link"
  labelMode="floating"
  [value]="content"
></dx-text-box>
<dx-popup
  id="popup"
  contentTemplate="popup-content"
  [(visible)]="isPopupVisible"
  [hideOnOutsideClick]="true"
  [showTitle]="true"
  title="Information"
  [width]="500"
  [height]="500"
>
  <div *dxTemplate="let data of 'popup-content'">
    <!-- <app-content-template [(value)]="value"></app-content-template> -->
    <app-content-template [(text)]="content"></app-content-template>
  </div>
</dx-popup>
